.order-page-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  min-height: 80vh;
  margin-top: 80px;
  padding: 20px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
  .user-data {
    width: 60%;
    min-height: 90%;
    @media (max-width: 900px) {
      width: 90%;
    }
    .full-width {
      width: 83%;
      margin: 10px;
    }
    .half-width {
      width: 40%;
      margin: 10px;
      @media (max-width: 900px) {
        width: 83%;
      }
    }
    .place-order-btn {
      height: 45px;
      width: 83%;
      margin: 10px;
      background-color: black;
      color: white;
    }
    .place-order-btn:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
    .flex-wrap {
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 900px) {
        flex-direction: column;
      }
    }
  }
  .order-data {
    min-height: 90%;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    width: 40%;
    border: 1px solid rgb(150, 149, 149);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 900px) {
      width: 90%;
    }
    .top {
      .title {
        text-align: center;
      }
    }

    .bottom {
      .pagination-box {
        display: flex;
        justify-content: center;
      }
      .total-amount {
        display: flex;
        justify-content: space-between;
        .text {
          font-weight: 700;
        }
      }
    }
  }
}
