.profile-container{
    width: 60%;
    height: 70vh;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}