.shopping-cart {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .shopping-cart-title {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    align-items: center;
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  .shopping-cart-item-container {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    width: 80%;
    height: fit-content;
    padding: 10px;

    .total-amount {
      width: 100%;
      display: flex;
      font-weight: bolder;
      justify-content: space-between;
      height: 40px;

      .left-side {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-around;
      }
      .order-btn {
        background-color: black;
        color: white;
      }
      .order-btn:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }

  .pagination-box {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    width: 100%;
    padding: 10px 10px;
    .MuiButtonBase-root {
      color: goldenrod;
      border: 1px solid rgb(199, 149, 24);
      text-shadow: 1px 1px 1px black;
    }
    .Mui-selected {
      background-color: rgba(22, 22, 21, 0.5);
      color: white;
    }
  }
}
